:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b3d1f9;
}

.content {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}
